.storybook-snatch {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: rgba(221, 221, 221, 0);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border: 1px solid rgb(235, 235, 235);
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.storybook-snatch--extra-small {
  font-size: 10px;
  padding: 0px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.storybook-snatch--small {
  font-size: 20px;
  height: 42px;
}

.storybook-snatch--medium {
  font-size: 40px;
  height: 72px;
}

.storybook-snatch--large {
  font-size: 56px;
  height: 72px;
}
