.storybook-chipstatus {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: rgba(221, 221, 221, 0);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border: 1px solid rgb(235, 235, 235);
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.storybook-chipstatus--extra-small {
  font-size: 10px;
  height: 20px;
}

.storybook-chipstatus--small {
  font-size: 20px;
  height: 30px;
}

.storybook-chipstatus--medium {
  font-size: 40px;
  height: 50px;
}

.storybook-chipstatus--large {
  font-size: 56px;
  height: 60px;
}
